samples/axis2-client-test/src/main/wsdl/airline-service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.springframework.org/spring-ws/samples/airline/schemas/messages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.springframework.org/spring-ws/samples/airline/schemas/messages" targetNamespace="http://www.springframework.org/spring-ws/samples/airline/schemas/messages">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:types="http://www.springframework.org/spring-ws/samples/airline/schemas/types" elementFormDefault="qualified" targetNamespace="http://www.springframework.org/spring-ws/samples/airline/schemas/messages">

    <import namespace="http://www.springframework.org/spring-ws/samples/airline/schemas/types" schemaLocation="types.xsd"/>

    <element name="GetFlightsRequest">
        <complexType>
            <all>
                <element name="from" type="types:AirportCode"/>
                <element name="to" type="types:AirportCode"/>
                <element name="departureDate" type="date"/>
                <element minOccurs="0" name="serviceClass" type="types:ServiceClass"/>
            </all>
        </complexType>
    </element>

    <element name="GetFlightsResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="flight" type="types:Flight"/>
            </sequence>
        </complexType>
    </element>
</schema>
  </wsdl:types>
  <wsdl:message name="GetFlightsResponse">
    <wsdl:part element="tns:GetFlightsResponse" name="GetFlightsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetFlightsRequest">
    <wsdl:part element="tns:GetFlightsRequest" name="GetFlightsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Airline">
    <wsdl:operation name="GetFlights">
      <wsdl:input message="tns:GetFlightsRequest" name="GetFlightsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetFlightsResponse" name="GetFlightsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AirlineSoap11" type="tns:Airline">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetFlights">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetFlightsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetFlightsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirlineService">
    <wsdl:port binding="tns:AirlineSoap11" name="AirlineSoap11">
      <soap:address location="http://localhost:8080/soap/airlineService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>