samples/axis2-client-test/src/main/wsdl/CalculatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://javacrumbs.net/calc" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://javacrumbs.net/calc">
    <wsdl:documentation>CalculatorService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://javacrumbs.net/calc">
            <xs:element name="plus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" type="xs:long"/>
                        <xs:element minOccurs="0" name="b" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="plusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="plusRequest">
        <wsdl:part name="parameters" element="ns:plus"/>
    </wsdl:message>
    <wsdl:message name="plusResponse">
        <wsdl:part name="parameters" element="ns:plusResponse"/>
    </wsdl:message>
    <wsdl:portType name="CalculatorServicePortType">
        <wsdl:operation name="plus">
            <wsdl:input message="ns:plusRequest" wsaw:Action="urn:plus"/>
            <wsdl:output message="ns:plusResponse" wsaw:Action="urn:plusResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorServiceSoap11Binding" type="ns:CalculatorServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="plus">
            <soap:operation soapAction="urn:plus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalculatorServiceSoap12Binding" type="ns:CalculatorServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="plus">
            <soap12:operation soapAction="urn:plus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalculatorServiceHttpBinding" type="ns:CalculatorServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="plus">
            <http:operation location="CalculatorService/plus"/>
            <wsdl:input>
                <mime:content type="text/xml" part="plus"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="plus"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port name="CalculatorServiceHttpSoap11Endpoint" binding="ns:CalculatorServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2-server-test/services/CalculatorService.CalculatorServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CalculatorServiceHttpSoap12Endpoint" binding="ns:CalculatorServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2-server-test/services/CalculatorService.CalculatorServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CalculatorServiceHttpEndpoint" binding="ns:CalculatorServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2-server-test/services/CalculatorService.CalculatorServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>